<div [@routerTransition]>
  <section class="content px-2">

    <div class="container-fluid">
      <div class="card">
        <ejs-grid #grid [dataSource]='data' (actionFailure)="onActionFailure($event)"
          (toolbarClick)="toolbarClick($event)" (commandClick)="commandClick($event)" allowReordering=true
          allowResizing=true allowMultiSorting=true
          [allowExcelExport]=true [filterSettings]='{type: "Menu"}' [showColumnChooser]=true
          [showColumnMenu]=true clipMode='EllipsisWithTooltip'
          [editSettings]='{ allowEditing: true, allowAdding: true }'
          [allowFiltering]=true [allowGrouping]=true [allowPaging]=true allowSorting=true
          [toolbar]="['Add', 'Edit', 'Cancel', 'Update', 'ColumnChooser','Search','Print','ExcelExport']">
          <e-columns>
            <e-column field='Id' [isPrimaryKey]='true' defaultValue='0' [isIdentity]='false'></e-column>
            <e-column field='Name' [validationRules]='{ required: true, rangeLength: [2,50] }'></e-column>
            <e-column field='Email' [validationRules]='{ required: true, rangeLength: [6,254] }'></e-column>
            <e-column field='NationalId' headerText='National Id' [validationRules]='{ required: true, rangeLength: [14,14] }'></e-column>
            <e-column field='BirthDate' headerText='Date of Birth' format='y-M-d' editType='datepickeredit'></e-column>
            <e-column headerText='Visits' [allowEditing]='false'>
              <ng-template #template let-data>
                {{data.Visits.length}}
              </ng-template>
            </e-column>
            <e-column headerText='Last Visit' [allowEditing]='false'>
              <ng-template #template let-data>
                {{data.Visits[data.Visits.length - 1].CreationTime | date:'y-M-d h:mm a'}}
              </ng-template>
            </e-column>
            <e-column headerText='Report' [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </section>
</div>