<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1><span class="fa-user-injured fas"></span> {{"Patients" | localize}} </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">

    <div class="container-fluid">
      <div class="card">
        <ejs-grid #patientGrid [dataSource]='patientData' [childGrid]='patientVisitsGrid'
          (actionFailure)="onActionFailure($event)" (commandClick)="commandClick($event)" allowReordering=true
          allowResizing=true allowMultiSorting=true [filterSettings]='{type: "Menu"}' [showColumnChooser]=true
          [showColumnMenu]=true clipMode='EllipsisWithTooltip'
          [editSettings]='{ allowEditing: true, allowAdding: true, newRowPosition: "Top" }' [allowFiltering]=true
          [allowGrouping]=true [allowPaging]=true allowSorting=true
          [sortSettings]='{columns: [{ field: "Id", direction: "Descending" }]}'
          [toolbar]="['Add', 'Edit', 'Cancel', 'Update', 'ColumnChooser','Search','Print']">
          <e-columns>
            <e-column field='Id' [isPrimaryKey]='true' defaultValue='0' [isIdentity]='true' width='10%'></e-column>
            <e-column field='Name' [validationRules]='{ required: true, rangeLength: [2,50] }' width='20%'></e-column>
            <e-column field='Email' [validationRules]='{ required: true, email: true }' width='20%'></e-column>
            <e-column field='NationalId' headerText='National Id'
              [validationRules]='{ required: true, rangeLength: [14,14], number: true }' width='20%'></e-column>
            <e-column field='BirthDate' headerText='Date of Birth' format='y-M-d' editType='datepickeredit' width='20%'>
            </e-column>
            <e-column headerText='Report' [commands]='commands' width='10%'></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </section>
</div>