<abp-modal-header title='Patient Statistics' (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

<div class="modal-body">
    <table class="table table-striped table-responsive table-hover">
        <tbody> 
            <tr>
                <th scope="row" style="width: 40%"><span class="fas fa-address-card"></span> Patient Id</th>
                <td>{{id}}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{patientReport.name}}</td>
            </tr>
            <tr>
                <th scope="row">Age</th>
                <td>{{patientReport.age}} Years</td>
            </tr> 
            <tr>
                <th scope="row">Visits</th>
                <td>{{patientReport.visitsCount}}</td>
            </tr>
            <tr>
                <th scope="row">Bills Average</th>
                <td>{{patientReport.billsAverage | currency}}</td>
            </tr>
            <tr>
                <th scope="row">Bills Average Without Outliers</th>
                <td>{{patientReport.billsAverageWithoutOutliers | currency}}</td>
            </tr>
            <tr>
                <th scope="row">5th Visit</th>
                <td>{{patientReport.fifthVisit | date: 'y-M-d h:mm a' }}</td>
            </tr>
            <tr>
                <th scope="row">Top Visit Month</th>
                <td>{{patientReport.topVisitMonth}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label><span class="fas fa-address-card"></span> Similar Patients</label>
                    <span *ngFor="let p of patientReport.similarPatientsInDisease | keyvalue">
                        <button (click)="bindPatientReport(p.key)" class="btn btn-dark btn-sm m-1">{{p.value}}</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>